#create{
    margin-top: 2.5rem;
    & header{
        justify-content: center;
        text-align: center;
    }

    & .generate{
        justify-content: center;
        
        & > p{
            text-align: center;
            margin: .5rem;
        }

        & small{
            margin-top: 0.2rem;
            margin-left: 0.5rem;
            font: var(--text-sm);
            & a{
                --saiba-mais: var(--background-cards);
                color: var(--saiba-mais);
            }
        }

        & .file{
            --bg-upload: var(--shadow-card-btn);
            --border: var(--background-btn);

            justify-items: center;
            padding: 1rem 2.5rem;
            text-align: center;
            color: var(--text-color-secondary);

            width: 100%;
            background-color: var(--bg-upload);
            border-radius: 1.5rem;
            outline: 2px dashed var(--border);

            position: relative;

            &:hover{
                --bg-drop: var(--btn-hover-shadow);
                background-color: var(--bg-drop);
            }
            
            & input[type="file"]{
                position: absolute;
                inset: 0;
                opacity: 0;
                cursor: pointer;
            }
        }

        & .load {
            display: flex;
            margin-top: 0.75rem;
            align-items: center;
            gap: 1.5rem;
            width: 100%;

            & span{
                font:var(--text);
                color: var(--text-color-primary);
            }

            & .barra {
                width: 100%;
                height: 0.75rem;
                background-color: #d3d3d3;
                border-radius: 10px;
                overflow: hidden;


                & .progress {
                    height: 100%;
                    width: 0%;
                    background-color: #4caf50;
                    transition: width 0.3s;
                }
            }
            
        }

        & .upload{
            margin-top: 0.75rem;
            font: var(--text-sm);
            
            & .uploads{
                margin-top: 0.5rem;
                --text-color: var(--shadow-card-btn);
                color: var(--text-color);
                justify-content: space-between;
                align-items: center;
                
                
                & p{
                    position: relative;
                    margin-left: 0.5rem;

                    &::after{
                        --barra: var(--text-color-hero);
                        position: absolute;
                        content: "";
                        width: 0.2rem;
                        border-radius: 0.3rem;
                        height: 100%;
                        top: 0;
                        left: -0.5rem;
                        background-color: var(--barra);
                    }

                }

                & button{
                    --bg-button-remove: var(--shadow-card-btn);

                    cursor: pointer;
                    font: var(--button-remove);
                    border: none;
                    background-color: var(--bg-button-remove);
                    padding: 0.5rem 0.8rem;
                    border-radius: 1.5rem;
                }

            }
        }

        & .file-name{
            margin-top: 0.75rem;

            & input[type="text"]{

                --text-color: var(--text-color-hero);
                color: var(--text-color);

                width: 15rem;
                padding: 0.4rem;
                border-radius: 0.6rem;
                border: 1px solid var(--background-cards);
                

                &:focus{
                    outline: 1px solid var(--background-cards);
                }
            }
        }

        & .level{
            margin-top: 1.75rem;
            width: fit-content;

            & select{
                cursor: pointer;
                margin-top: 0.4rem;
                padding: 0.5rem;
                border-radius: 0.6rem;
                border: 1px solid var(--background-cards);

                &:focus{
                    outline: 1px solid var(--background-cards);
                }
            }
        }

        & .btn-zip{
            --btn-border: var(--shadow-card-btn);
            margin-top: 2rem;
            flex-direction: column;
            
            & .button-zip{
                --bg-btn: var(--background-cards);
                cursor: pointer;
                padding: 0.75rem;
                width: 15rem;
                border: 2px solid var(--btn-border);
                border-radius: 1.5rem;
                background-color: var(--bg-btn);

                font: var(--button-send);
                color: var(--text-color-secondary);
            }
        }
    }

    
    & header + .generate{
        margin-top: 2.5rem;
    }
}

.about{
    margin-block: 2.5rem;
    & h2{
        text-align: center;
    }
    & p{
        margin-inline: auto;
        text-align: center;
        margin-block: 0.75rem;
        max-width: 35rem;
    }
}

.cards{
    & h2{
        text-align: center;
        margin-bottom: 1rem;
    }
    & .flex{
        flex-direction: column;

        & .card{
            justify-items: center;
            text-align: center;
        }
    }
}
/* aivar barra de progresso via js */
.in-progress{
    display: flex;
}
/* ativar feedback via js */
.active-feedback{
    display: grid;
}

@media(width >= 48em){
    #create{
        margin-top: 3rem;

        & header + .generate{
            margin-top: 3rem;
        }

        & .generate{

            & .file{
                padding: 2.5rem 15rem 5rem;
    
                text-align: center;
                color: var(--text-color-secondary);
    
                width: 100%;
                background-color: var(--bg-upload);
                border-radius: 1.5rem;
                outline: 2px dashed var(--border);
    
                position: relative;
            }

            & small{
                & a{
                    &:hover{
                        color: #5501dd;
                    }
                }
            }

            & .uploads{

                & button{
                    --bg-button-remove: var(--shadow-card-btn);
                    --bg-button-remove-hover: var(--btn-hover-shadow);

                    font: var(--button-remove);
                    border: none;
                    background-color: var(--bg-button-remove);
                    padding: 0.5rem 0.8rem;
                    border-radius: 1.5rem;

                    &:hover{
                        background: var(--bg-button-remove-hover);
                    }
                }

            }

            & .btn-zip{
                flex-direction: row;
                & .button-zip{
                    padding: 1rem;

                    &:hover{
                        background-color: var(--background-btn);
                    }
                }
            }
        }

    }

    .about{
        margin-top: 5rem;
    }

    .cards{
        justify-content: center;
        & .flex{
            flex-direction: column;
            & .card{
                justify-items: center;
                text-align: center;
                width: 25rem;
            }
        }
    }
}

@media(width >= 80em){
    #create{
        margin-top: 4rem;
    }

    .cards{
        & .flex{
            flex-direction: row;
            & .card{
                justify-items: center;
                text-align: center;
                width: 24rem;
            }
        }
    }
}
